[ng-drag].drag-over {
    background: #a42f2b !important;
    z-index: 2;
}

[ng-drop] {
    background-color: #D43F3A;
    color: white;
    border-radius: 4px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
    margin-bottom: 20px;
}

    [ng-drop].drag-enter {
        /*CSS Rules for dropzone when the block enters*/
    }
