.horizontal {
    margin-top: 30px;
    overflow: hidden
}

 .big-checkbox, .horizontal label{
    font-size: 16px;
 }
 .big-checkbox input {
      width: 16px; height: 16px;
 }

.checkbox-inline, .horizontal label {
        margin-top: 6px;
}

.top-30 {
    margin-top: 30px;
}