#questionList{
    margin-top: 20px;
}

.editor, .answer {
    height: 100px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.answer {
    border-style: solid;
    border-width: 1px;
}

body {
    padding: 20px 20px 20px 20px;
}