#messagebox {
    position: fixed;
    top: 45px;
    right: 0;
    max-width: 40%;
    z-index: 20;
}

#inner-message {
    margin: 3px;
    overflow: hidden;
}

#inner-message.ng-enter {
    -webkit-animation: fadeInRight 1s;
    -moz-animation: fadeInRight 1s;
    -ms-animation: fadeInRight 1s;
    animation: fadeInRight 1s;
}

#inner-message.ng-enter-stagger {
    transition-delay: 0.1s;
    animation-delay: 0.1s;
}