p, span, a, ul, li, button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

strong {
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5em;
  font-weight: 300;
}

strong {
  font-weight: 400;
}

.tile {
  position: relative;
  width: 100%;
  height: 100px;
  color: #fff;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  margin-bottom: 30px;
  padding-left: 20px;
}
.tile .title {
  margin-top: 0px;
}

.tile.purple {
  background: #5133AB;
}
.tile.purple:hover {
  background: #3e2784;
}
.tile.red {
  background: #AC193D;
}
.tile.red:hover {
  background: #7f132d;
}
.tile.green {
  background: #00A600;
}
.tile.green:hover {
  background: #007300;
}
.tile.blue {
  background: #2672EC;
}
.tile.blue:hover {
  background: #125acd;
}
.tile.orange {
  background: #DC572E;
}
.tile.orange:hover {
  background: #b8431f;
}
.tile.grey {
  background: #758294;
}
.tile.grey:hover {
  background: #626e7f;
}
.tile.yellow {
  background: #f0d14e;
}
.tile.yellow:hover {
  background: #f0ad4e;
}

.triangle {
  width: 0px;
  height: 0px;
  border-bottom: 100px solid rgba(0, 0, 0, 0.4);
  border-left: 90px solid transparent;
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
}