extends layout

block header
    link(rel='stylesheet', href='/stylesheets/form.css')
    link(rel='stylesheet', href='/stylesheets/tiles.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/messagebox.css')
    link(rel='stylesheet', href='/stylesheets/sb-admin.css')
    link(rel='stylesheet', href='/stylesheets/dragdrop.css')

block content
    #wrapper(ng-app = 'adminApp' ng-controller='adminPanelController')
      // Navigation
      nav.navbar.navbar-inverse.navbar-static-top(role='navigation', style='margin-bottom: 0')
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation             
            span.icon-bar                    
            span.icon-bar                    
            span.icon-bar                 
          a.navbar-brand(href='#/') CodeGenie
          
        // Top Menu Items
        ul.nav.navbar-right.top-nav
          li.dropdown
            a.dropdown-toggle(href='', data-toggle='dropdown')
              i.fa.fa-user
              | {{user.name}}
              b.caret                     
            ul.dropdown-menu
              li
                a(href='#/profile')
                  i.fa.fa-fw.fa-user
                  |  Profile                        
                li.divider                         
              li
                a(href='/signout')
                  i.fa.fa-fw.fa-power-off
                  | Log Out
        // Sidebar Menu Items - These collapse to the responsive navigation menu on small screens
        .navbar-inverse.sidebar(role='navigation')
          .sidebar-nav.navbar-collapse
            ul#side-menu.nav.in
              li
                a(href='#/')
                  i.fa.fa-fw.fa-dashboard
                  | Dashboard
              li
                a(href='#/users')
                  i.fa.fa-fw.fa-users
                  | Users
              li
                a(href='#/exercises')
                  i.fa.fa-fw.fa-edit
                  | Exercises
              li
                a(href='#/answers')
                  i.fa.fa-fw.fa-files-o
                  | Answers
      #page-wrapper
        .container-fluid(ng-view)

 block scripts  
     script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js')
     script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.min.js')
     script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-resource.min.js')
     script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.min.js')
     script(src="//cdnjs.cloudflare.com/ajax/libs/metisMenu/2.2.0/metisMenu.min.js")
     script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js")
     script(src="//cdnjs.cloudflare.com/ajax/libs/angular-moment/0.9.0/angular-moment.min.js")
     script(src='/javascripts/adminpanel.js')
     script(src='/javascripts/messagebox.js')
     script(src='/javascripts/Controllers/adminPanelController.js')
     script(src='/javascripts/Controllers/editAdminProfileController.js')
     script(src='/javascripts/Controllers/adminDashBoardController.js')
     script(src='/javascripts/Controllers/adminExercisesController.js')
     script(src='/javascripts/Controllers/adminUsersController.js')
     script(src='/javascripts/Controllers/adminAnswersController.js')
     script(src='/javascripts/Service/restDataService.js')
     script(src="/javascripts/ngDraggable.js")
     script(src='/javascripts/src-min/ace.js')
     script(src='/javascripts/angular-ui-ace/ui-ace.js')
     script(src='/javascripts/angular-bootstrap-checkbox.js')
     script(src='/javascripts/angular-morris-chart/raphael.min.js')
     script(src='/javascripts/angular-morris-chart/morris.min.js')
     script(src='/javascripts/angular-morris-chart/angular-morris-chart.min.js')