extends layout

block header
    link(rel='stylesheet', href='/stylesheets/sb-admin.css')
    link(rel='stylesheet', href='/stylesheets/form.css')

block content
    #wrapper(ng-app = 'adminApp' ng-controller='adminPanelController')
      // Navigation
      nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          a.navbar-brand(href='#/') CodeGenie
        // Top Menu Items
        ul.nav.navbar-right.top-nav
          li.dropdown
            a.dropdown-toggle(href='', data-toggle='dropdown')
              i.fa.fa-user
              | {{ user.name }}
              b.caret
                                
            ul.dropdown-menu
              li
                a(href='#')
                  i.fa.fa-fw.fa-user
                  |  Profile
                                                                          
              li.divider
                                       
              li
                a(href='#')
                  i.fa.fa-fw.fa-power-off
                  a(href='/signout') Log Out


        // Sidebar Menu Items - These collapse to the responsive navigation menu on small screens
        .collapse.navbar-collapse.navbar-ex1-collapse
          ul.nav.navbar-nav.side-nav
            li
              a(href='#/')
                i.fa.fa-fw.fa-dashboard
                |  Dashboard

            li
              a(href='#/exercises')
                i.fa.fa-fw.fa-edit
                | Exercises
                                
            li
              a(href='#/addexercise')
                i.fa.fa-fw.fa-edit
                | Add Exercise
                                 
            li
              a(href='#/answers', data-toggle='collapse', data-target='#demo')
                i.fa.fa-fw.fa-arrows-v
                | Answers
                i.fa.fa-fw.fa-caret-down
                                       
              ul#demo.collapse
                li
                  a(href='#') 1EA1
                                            
                li
                  a(href='#') 1EA2
                li
                  a(href='#') 1EA3
        // /.navbar-collapse
               
      #page-wrapper
        .container-fluid(ng-view)

 block scripts  
     script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js')
     script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js')
     script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-resource.js')
     script(src='/javascripts/adminpanel.js')
     script(src='/javascripts/Controllers/dashBoardController.js')
     script(src='/javascripts/Controllers/addExerciseController.js')
     script(src='/javascripts/Controllers/adminPanelController.js')
     script(src='/javascripts/Controllers/answersController.js')
     script(src='/javascripts/Service/restDataService.js')
     script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js")
     script(src="//cdnjs.cloudflare.com/ajax/libs/angular-moment/0.9.0/angular-moment.min.js")