extends layout

block header
    link(rel='stylesheet', href='/stylesheets/sb-admin.css')

block content
    #wrapper
      // Navigation
      nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          a.navbar-brand(href='index.html') CodeGenie
        // Top Menu Items
        ul.nav.navbar-right.top-nav
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              i.fa.fa-user
              |  Tim Dams 
              b.caret
                                
            ul.dropdown-menu
              li
                a(href='#')
                  i.fa.fa-fw.fa-user
                  |  Profile
                                                                          
              li.divider
                                       
              li
                a(href='#')
                  i.fa.fa-fw.fa-power-off
                  a(href='/signout') Log Out


        // Sidebar Menu Items - These collapse to the responsive navigation menu on small screens
        .collapse.navbar-collapse.navbar-ex1-collapse
          ul.nav.navbar-nav.side-nav
            li.active
              a(href='index.html')
                i.fa.fa-fw.fa-dashboard
                |  Dashboard
                                
            li
              a(href='forms.html')
                i.fa.fa-fw.fa-edit
                | Questions
                                 
            li
              a(href='javascript:;', data-toggle='collapse', data-target='#demo')
                i.fa.fa-fw.fa-arrows-v
                | Answers
                i.fa.fa-fw.fa-caret-down
                                       
              ul#demo.collapse
                li
                  a(href='#') 1EA1
                                            
                li
                  a(href='#') 1EA2
                li
                  a(href='#') 1EA3
        // /.navbar-collapse
               
      #page-wrapper
        .container-fluid
          // Page Heading
          .row
            .col-lg-12
              h1.page-header
                | Dashboard
                                     
              ol.breadcrumb
                li.active
                  i.fa.fa-dashboard
                  |  Dashboard
          // /.row
          .row
            .col-lg-3.col-md-6
              .panel.panel-primary
                .panel-heading
                  .row
                    .col-xs-3
                      i.fa.fa-comments.fa-5x
                                                         
                    .col-xs-9.text-right
                      .huge 26                                       
                      div New answers!
                                             
                a(href='#')
                  .panel-footer
                    span.pull-left View Details                                     
                    span.pull-right
                      i.fa.fa-arrow-circle-right                                    
                    .clearfix
          // /.row
          .row
            .col-lg-4
              .panel.panel-default
                .panel-heading
                  h3.panel-title
                    i.fa.fa-clock-o.fa-fw
                    |  Tasks Panel
                           
                .panel-body
                  .list-group
                    a.list-group-item(href='#')
                      span.badge just now                                         
                      i.fa.fa-fw.fa-calendar
                      |  Calendar updated                                     
                    a.list-group-item(href='#')
                      span.badge 4 minutes ago                                         
                      i.fa.fa-fw.fa-comment
                      |  Commented on a post                                    
                    a.list-group-item(href='#')
                      span.badge 23 minutes ago                                        
                      i.fa.fa-fw.fa-truck
                      |  Order 392 shipped                                  
                    a.list-group-item(href='#')
                      span.badge 46 minutes ago                                        
                      i.fa.fa-fw.fa-money
                      |  Invoice 653 has been paid                                     
                    a.list-group-item(href='#')
                      span.badge 1 hour ago                                       
                      i.fa.fa-fw.fa-user
                      |  A new user has been added                                    
                    a.list-group-item(href='#')
                      span.badge 2 hours ago                                         
                      i.fa.fa-fw.fa-check
                      |  Completed task: &quot;pick up dry cleaning&quot;                                     
                    a.list-group-item(href='#')
                      span.badge yesterday                                         
                      i.fa.fa-fw.fa-globe
                      |  Saved the world                                     
                    a.list-group-item(href='#')
                      span.badge two days ago                                         
                      i.fa.fa-fw.fa-check
                      |  Completed task: &quot;fix error on sales page&quot;                                 
                  .text-right
                    a(href='#')
                      | View All Activity 
                      i.fa.fa-arrow-circle-right
