extends layout

block header
	link(rel='stylesheet', href='/stylesheets/form.css')

block content
	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-4
				h1.text-center.login-title Registration
					div.signup-wall
						form(class='form-signin top-30', action='/signup', method='POST')
							.form-group
								input(type='text', name='username', class='form-control', placeholder='Username',required, autofocus)
							.form-group
								input(type='password', name='password', class='form-control nomargin', placeholder='Password', required)
							.form-group
								input(type='text', name='group', class='form-control', placeholder='Class',required)
							.form-group
								input(type='email', name='email', class='form-control', placeholder='Email')
							.form-group
								button(class='btn btn-lg btn-primary btn-block', type='submit') Register
							.form-group
								a(class='btn btn-lg btn-primary btn-block', href='/') Cancel
							span.clearfix
					#message
						if message
							h1.text-center.error-message #{message}