extends layout

block header
    link(rel='stylesheet', href='/stylesheets/form.css')
    link(rel='stylesheet', href='/stylesheets/tiles.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/sb-user.css')

block content
    #wrapper(ng-app = 'userApp' ng-controller='userPanelController')
      // Navigation
      nav.navbar.navbar-default.navbar-static-top(role='navigation', style='margin-bottom: 0')
        .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='#/') CodeGenie

        // Top Menu Items
        ul.nav.navbar-right.top-nav
            li.dropdown
                a.dropdown-toggle(href='', data-toggle='dropdown')
                    i.fa.fa-user
                    | {{user.name}}
                    b.caret
                ul.dropdown-menu
                    li
                        a(href='#/profile')
                            i.fa.fa-fw.fa-user
                            |  Profile
                        li.divider
                    li
                        a(href='/signout')
                            i.fa.fa-fw.fa-power-off
                            | Log Out
        // Sidebar Menu Items - These collapse to the responsive navigation menu on small screens
        .navbar-default.sidebar(role='navigation')
            .sidebar-nav.navbar-collapse
                ul#side-menu.nav.in
                    li
                        a(href='#/')
                            i.fa.fa-fw.fa-dashboard
                            | Dashboard
                    li
                        a(href='#/exercises')
                            i.fa.fa-fw.fa-edit
                            | Exercises
      #page-wrapper
        .container-fluid(ng-view)

 block scripts  
     script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js')
     script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js')
     script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-resource.js')
     script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js")
     script(src="//cdnjs.cloudflare.com/ajax/libs/angular-moment/0.9.0/angular-moment.min.js")
     script(src='/javascripts/userPanel.js')
     script(src='/javascripts/Controllers/userPanelController.js')
     script(src='/javascripts/Controllers/editProfileController.js')
     script(src='/javascripts/Controllers/userDashboardController.js')
     script(src='/javascripts/Controllers/userExercisesController.js')
     script(src='/javascripts/Service/userRestDataService.js')
     script(src='/javascripts/src-min/ace.js')
     script(src='/javascripts/angular-ui-ace/ui-ace.js')