extends layout

block header
    link(rel='stylesheet', href='/stylesheets/form.css')
    link(rel='stylesheet', href='/stylesheets/tiles.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/messagebox.css')
    link(rel='stylesheet', href='/stylesheets/sb-user.css')

block content
    #wrapper(ng-app = 'userApp' ng-controller='userPanelController')
      // Navigation
      nav.navbar.navbar-default.navbar-static-top(role='navigation', style='margin-bottom: 0')
        .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='#/') CodeGenie

        // Top Menu Items
        ul.nav.navbar-right.top-nav
            li.dropdown
                a.dropdown-toggle(data-toggle='dropdown', href='http://ironsummitmedia.github.io/startbootstrap-sb-admin-2/pages/index.html#')
                    {{newExercises.count}}
                    i.fa.fa-bell.fa-fw
                    i.fa.fa-caret-down
                ul.dropdown-menu.dropdown-alerts
                    li(ng-repeat-start='exercise in newExercises.exercises')
                        a(href='http://ironsummitmedia.github.io/startbootstrap-sb-admin-2/pages/index.html#')
                            div
                                i.fa.fa-comment.fa-fw
                                |  New exercise
                                time.pull-right.text-muted.small(am-time-ago="exercise.created")
                    li(ng-repeat-end='' class='divider')
                    li
                        a(href='http://ironsummitmedia.github.io/startbootstrap-sb-admin-2/pages/index.html#')
                            div
                                i.fa.fa-envelope.fa-fw
                                | TODO Exercise revised
                                span.pull-right.text-muted.small 4 minutes ago
            li.dropdown
                a.dropdown-toggle(href='', data-toggle='dropdown')
                    i.fa.fa-user
                    | {{user.name}}
                    b.caret
                ul.dropdown-menu
                    li
                        a(href='#/profile')
                            i.fa.fa-fw.fa-user
                            |  Profile
                        li.divider
                    li
                        a(href='/signout')
                            i.fa.fa-fw.fa-power-off
                            | Log Out
        // Sidebar Menu Items - These collapse to the responsive navigation menu on small screens
        .navbar-default.sidebar(role='navigation')
            .sidebar-nav.navbar-collapse
                ul#side-menu.nav.in
                    li
                        a(href='#/')
                            i.fa.fa-fw.fa-dashboard
                            | Dashboard
                    li
                        a(href='#/exercises')
                            i.fa.fa-fw.fa-edit
                            | Exercises
      #page-wrapper
        .container-fluid(ng-view)

 block scripts  
     script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js')
     script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.min.js')
     script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-resource.min.js')
     script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.min.js')
     script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js")
     script(src="//cdnjs.cloudflare.com/ajax/libs/angular-moment/0.9.0/angular-moment.min.js")
     script(src='/javascripts/userPanel.js')
     script(src='/javascripts/messagebox.js')
     script(src='/javascripts/Controllers/userPanelController.js')
     script(src='/javascripts/Controllers/editUserProfileController.js')
     script(src='/javascripts/Controllers/userDashboardController.js')
     script(src='/javascripts/Controllers/userExercisesController.js')
     script(src='/javascripts/Service/userRestDataService.js')
     script(src='/javascripts/src-min/ace.js')
     script(src='/javascripts/angular-ui-ace/ui-ace.js')
     script(src='/javascripts/angular-bootstrap-checkbox.js')
     script(src='/javascripts/angular-morris-chart/raphael.min.js')
     script(src='/javascripts/angular-morris-chart/morris.min.js')
     script(src='/javascripts/angular-morris-chart/angular-morris-chart.min.js')