extends layout

block header
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(rel='stylesheet', href='/stylesheets/tiles.css')

block content
    h1= title

    #wrapper        
        // Question LIST
        a(href='/signout', class='text-center') Signout
        h2 Questions
        #buttonList
        #questionList
        
block scripts          
    script(src='/javascripts/src-min/ace.js')
    script(src='/javascripts/index.js')
    