<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Add Exercise</h1>

        <p>{{ message }}</p>
    </div>
</div>

<div class="row">
    <form id="exerciseForm" class="col-lg-12" ng-submit="processForm()">
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" name="title" placeholder="Titel" ng-model="exercise.title">
        </div>
        <div class="form-group">
            <label>Classification</label>
            <input type="text" class="form-control" name="classification" placeholder="Classification" ng-model="exercise.classification">
        </div>
        <div class="form-group">
            <label>Class</label>
            <input type="text" class="form-control" name="class" placeholder="Class" ng-model="exercise.class">
        </div>
        <div class="form-group">
            <label>Deadline</label>
            <input type="date" class="form-control" name="deadline" ng-model="exercise.deadline">
        </div>
        <div class="checkbox">
            <label class="checkbox"><input type="checkbox" name="extra" ng-model="exercise.extra">Extra</label>
        </div>

        <div class="panel panel-primary" style="margin-top: 40px;">
            <div class="panel-heading">
                <h4 class="panel-title">Questions</h4>
            </div>
            <div class="table-responsive" ng-repeat="question in exercise.questions">
                <table class="table">
                    <caption>
                        <div class="clearfix" style="margin-top: 10px; margin-bottom: 10px; padding-left: 8px; padding-right: 8px">
                            <span style="font-size: 20px; padding-top: 7px;" class="pull-left">Question {{$index + 1}}</span>
                            <div class="btn-group pull-right">
                                <a class="btn btn-default btn-sm" ng-click="removeButton($index)"><span class="glyphicon glyphicon-minus"></span></a>
                            </div>
                        </div>
                    </caption>

                    <tr>
                        <td colspan="3">
                            <input type="text" class="form-control" placeholder="Title" ng-model="question.questiontitle" />
                        </td>
                    </tr>
                    <tr>
                        <td><input class="form-control" ng-model="question.weight" placeholder="Weight" type="number" /></td>
                        <td>
                            <select class="form-control" ng-model="question.type" ng-change="typeChanged($index)">
                                <option value="" disabled selected hidden>Select the type</option>
                                <option value="Checkbox">Checkbox</option>
                                <option value="Question">Question</option>
                                <option value="Code">Code</option>
                                <option value="MultipleChoice">MultipleChoice</option>
                            </select>
                        </td>
                        <td>
                            <label class="checkbox-inline big-checkbox">
                                <input type="checkbox" ng-model="question.extra">Extra
                            </label>
                        </td>
                    </tr>
                    <tr ng-if="question.type == 'MultipleChoice'">
                        <td colspan="3">
                            <div class="col-md-4" style="margin-bottom: 10px" ng-repeat="choice in question.choices track by $index">
                                <input class="form-control" ng-model="choice.text" placeholder="Choice {{$index}}" type="text" />
                            </div>

                            <div class="col-md-4">
                                <a class="btn btn-default btn-sm form-control" ng-click="addChoice($index)"><span class="glyphicon glyphicon-plus"></span></a>
                            </div>
                           
                        </td>
                    </tr>
                </table>
            </div>

            <button type="button" ng-click="addButton()" class="btn btn-primary" style="margin: 20px 10px 10px 10px">Add question</button>

        </div>

        <div class="form-group top-30">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>

        <div>
            {{exercise}}
        </div>
    </form>
</div>