<div id="messagebox" role="alert" ng-show="error != null || message != null">
    <div style="padding: 10px;">
        <div ng-repeat="value in error" ng-show="error != null" id="inner-message" class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{value}}&nbsp;&nbsp;&nbsp;
        </div>
        <div id="inner-message" ng-if="message" class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert" ng-click="dismissMessage()">&times;</button>
            {{message}}&nbsp;&nbsp;&nbsp;
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Answers
        </h1>
    </div>

</div>

<div class="row" ng-show="selected.length == 0 || selected == undefined">
    <div class="col-sm-12 col-md-6 col-lg-4" ng-repeat="exercise in exercises" ng-click="select(exercise)">
        <div class="tile blue">
            <div class="triangle" ng-if="exercise.extra"></div>
            <div class="title">
                <h3>{{exercise.title}}</h3>
            </div>
        </div>
    </div>
</div>

<div class="row top-20" ng-show="selected">
    <div class="col-lg-12">
        <div class="panel-group" id="userGroup">
            <div class="panel panel-default" ng-repeat="answer in selected">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#userGroup" href="/#collapse{{$index}}">
                            <div style="width: 98%; display: inline-block;">
                                {{answer.name}}
                                <div class="pull-right">{{answer.checkTotalpoints}}/{{answer.totalPoints}}</div>
                            </div>


                        </a>
                        <input class="pull-right" type="checkbox" ng-model="answer.totalCheck" ng-checked="answer.totalCheck"
                               ng-change="change(answer)"/>
                    </h4>
                </div>

                <div id="collapse{{$index}}" class="panel-collapse collapse">

                    <div ng-repeat="a in answer.answers">
                        <div class="panel-body" ng-switch on="a.type">
                            <div ng-switch-when="Checkbox">
                                <h4>{{a.questiontitle}} <span
                                        style="float: right;">{{a.received}}/{{a.weight}} <input style="margin-left: 15px" type="checkbox" ng-checked="a.checkQuestion" ng-model="a.checkQuestion" ng-change="changePoints(a, answer)"/></span></h4>
                                Check / Uncheck <input ng-model="a.result" type="checkbox"
                                                       ng-checked="a.result == 'true'"
                                                       onclick="return false"/>
                            </div>

                            <div ng-switch-when="Code">
                                <h4>{{a.questiontitle}} <span
                                        style="float: right;">{{a.received}}/{{a.weight}} <input style="margin-left: 15px" type="checkbox" ng-checked="a.checkQuestion" ng-model="a.checkQuestion" ng-change="changePoints(a, answer)"/></span></h4>

                                <div ng-model="a.result" style="height: 200px" ui-ace="{
                                  useWrapMode : false,
                                  theme:'sqlserver',
                                  mode: 'csharp',
                                  firstLineNumber: 1
                                }" ng-readonly="true">
                                </div>
                            </div>

                            <div ng-switch-when="Question">
                                <h4>{{a.questiontitle}} <span
                                        style="float: right;">{{a.received}}/{{a.weight}} <input style="margin-left: 15px" type="checkbox" ng-checked="a.checkQuestion" ng-model="a.checkQuestion" ng-change="changePoints(a, answer)" /></span></h4>
                                <span style="font-weight: normal">{{a.result}}</span>
                            </div>

                            <div ng-switch-when="MultipleChoice">
                                <h4>{{a.questiontitle}} {{a.checkQuestion}}<span
                                        style="float: right;">{{a.received}}/{{a.weight}} <input style="margin-left: 15px" type="checkbox" ng-checked="a.checkQuestion" ng-model="a.checkQuestion" ng-change="changePoints(a, answer)" /></span></h4>
                                <div ng-repeat="choice in a.choices" class="radio">
                                    <label ng-if="a.result == choice.text"
                                           style="color:green">{{choice.text}}</label>
                                    <label ng-if="a.result != choice.text">{{choice.text}}</label>
                                </div>
                            </div>

                            <div class="form-group top-30">
                                <div>
                                        <textarea class="animate msd-elastic: \n;" placeholder="Comment"
                                                  style="resize: vertical; width: 100%" ng-model="a.comment" cols="100"
                                                  rows="1"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group top-20 pull-right" >
                <button type="button" class="btn btn-primary" ng-click="processForm()">Submit</button>
                <button type="button" class="btn btn-danger" ng-click="cancel()">Cancel</button>
            </div>
        </div>
        {{selected}}
    </div>
</div>

