<div id="messagebox" role="alert" ng-show="error != null || message != null">
    <div style="padding: 10px;">
        <div ng-repeat="value in error" ng-show="error != null" id="inner-message" class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{value}}&nbsp;&nbsp;&nbsp;
        </div>
        <div id="inner-message" ng-if="message" class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert" ng-click="dismissMessage()">&times;</button>
            {{message}}&nbsp;&nbsp;&nbsp;
        </div>
    </div>
</div>

<div class="row" xmlns="http://www.w3.org/1999/html">
    <div class="col-lg-12">
        <h1 class="page-header">
            Users
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-users"></i> Users
            </li>
        </ol>
    </div>
</div>

<div class="row top-20">
    <div class="col-lg-12">
        <form class="form-inline">
            <div class="form-group">
                <label>Show:</label>
                <select class="form-control"  ng-model="selectedCourse" ng-init="selectedCourse = 'All'">
                    <option>All</option>
                    <option>None</option>
                    <option>Programming Principles</option>
                    <option>OO</option>
                    <option>Mobile-dev</option>
                    <option>SO4</option>
                    <option>Admin</option>
                </select>
             </div>
            <button class="btn btn-primary hidden-xs pull-right" ng-click="selectAll()">Select All</button>
            <button class="btn btn-primary visible-xs col-xs-12" ng-click="selectAll()">Select All</button>
       </form>

    </div>
</div>

<div class="row top-20">
    <div class="col-lg-12">
        <div class="panel-group" id="userGroup">
            <div class="panel panel-default" ng-repeat="user in (filteredUsers = (users | orderBy: '-registerdate' | filter: courseFilter))">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <input type="checkbox" ng-model="user.checkbox" ng-click="checkboxUser(user)"/>
                        <a data-toggle="collapse" data-parent="#userGroup" href="/#collapse{{$index}}">
                                    <span>
                                        {{user.name}}
                                    </span>

                                    <span class="pull-right">
                                        {{user.course}}
                                    </span>
                        </a>
                    </h4>
                </div>

                <div id="collapse{{$index}}" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="col-xs-12">
                            <span style="width: 100px; display: inline-block">E-mail:</span> {{user.email}}</br>
                            <span style="width: 100px; display: inline-block">Last seen:</span> {{user.lastseen | date:'dd-MM-yyyy'}}</br>
                            <div punch-card data="user.punchCardData" singular="answer" plural="answers"></div>
                        <div class="col-xs-6 col-lg-2 top-30">
                            <button type="button" class="btn btn-danger btn-block " ng-click="remove(user)">DELETE USER</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <form id="assignForm" class="top-20" ng-submit="processForm()">
            <label class="col-xs-12 col-lg-2 top-10">Move selected users to:</label>
            <div class="col-xs-12 col-lg-6">
                <select class="form-control top-10" name="course" ng-model="assign.course" required="required">
                    <option value="" disabled selected hidden>Select the course!</option>
                    <option>Programming Principles</option>
                    <option>OO</option>
                    <option>Mobile-dev</option>
                    <option>SO4</option>
                    <option>Admin</option>
                </select>
            </div>
            <div class="col-xs-6 col-lg-2 top-10">
                <button type="submit" class="btn btn-primary btn-block">Save</button>
            </div>
            <div class="col-xs-6 col-lg-2 top-10">
                <button type="button" class="btn btn-danger btn-block" ng-click="cancel()">Cancel</button>
            </div>

        </form>
</div>

<div class="row top-30">
    <div class="col-lg-12">
        {{assign}}
        <br/><br/>
        {{filteredUsers}}
    </div>
</div>