<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Answers
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="list-group">
            <a href="" ng-repeat="answer in answers | orderBy: '-created'" class="list-group-item">
                <time am-time-ago="answer.created" class="badge"></time> 
                <i class="fa fa-fw fa-check"></i> {{answer.name}} {{answer.class}} {{answer.title}}
            </a>
        </div>
    </div>
</div>