<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Exercise</h1>

        <p>{{ message }}</p>
    </div>
</div>

<div class="row">
    <form id="exerciseForm" class="col-lg-12">
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" name="title" placeholder="Titel">
        </div>
        <div class="form-group">
            <label>Classification</label>
            <input type="text" class="form-control" name="classification" placeholder="Classification">
        </div>
        <div class="form-group">
            <label>Class</label>
            <input type="text" class="form-control" name="class" placeholder="Class">
        </div>
        <div class="form-group">
            <label>Weight</label>
            <input type="number" class="form-control" name="weight" placeholder="Weight">
        </div>
        <div class="form-group">
            <label>Deadline</label>
            <input type="date" class="form-control" name="deadline">
        </div>
        <div class="checkbox">
            <label class="big-checkbox"><input type="checkbox" name="extra">Extra</label>
        </div>

        <div class="table-responsive" ng-repeat="question in questions">
            <table class="table">
                <caption>
                <div class="clearfix" style="margin-top: 30px; margin-bottom: 10px; padding-left: 8px; padding-right: 8px">
                    <span style="font-size: 30px; padding-top:7px;" class="pull-left">Question {{$index + 1}}</span>
                    <div class="btn-group pull-right">
                        <a ng-if="$index == 0" ng-click="addButton()" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus"></span></a>
                        <a ng-if="$index > 0"  ng-click="removeButton($index)" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-minus"></span></a>
                     </div>
                </div>
                    </caption>
                               
                <tr>
                    <td colspan="3">
                        <input type="text" class="form-control" placeholder="Title"/>
                    </td>
                </tr>
                <tr>
                    <td><input type="number" class="form-control" placeholder="Weight" /></td>
                    <td>
                        <select class="form-control" placeholder="test">
                            <option value="" disabled selected hidden>Select the type</option>
                            <option value="Checkbox">Checkbox</option>
                            <option value="Question">Question</option>
                            <option value="Code">Code</option>
                        </select>
                    </td>
                    <td>
                        <label class="checkbox-inline big-checkbox"><input type="checkbox" name="questions[][extra]">Extra</label>
                    </td>
                </tr>
            </table>             
        </div>

        <div class="form-group top-30">
            <button id="submitButton" class="btn btn-default">Submit</button>
        </div>
    </form>
</div>