<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Exercise</h1>

        <p>{{ message }}</p>
    </div>
</div>

<div class="row">
    <form class="col-lg-12">
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" id="title" placeholder="Titel">
        </div>
        <div class="form-group">
            <label>Classification</label>
            <input type="text" class="form-control" id="classification" placeholder="Classification">
        </div>
        <div class="form-group">
            <label>Class</label>
            <input type="text" class="form-control" id="class" placeholder="Class">
        </div>
        <div class="form-group">
            <label>Weight</label>
            <input type="number" class="form-control" id="weight" placeholder="Weight">
        </div>
        <div class="form-group">
            <label>Deadline</label>
            <input type="date" class="form-control" id="deadline">
        </div>
        <div class="checkbox">
                <label class="big-checkbox"><input type="checkbox" id="extra">Extra</label>
        </div>

        <div class="form-group horizontal">
            <label class="col-xs-1 control-label">Question</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" name="questions[0].questiontitle" placeholder="Title"/>
            </div>
            <div class="col-xs-2">
                <input type="number" class="form-control" name="questions[0].weight" placeholder="Weight"/>
            </div>
            <div class="col-xs-2">
                <select class="form-control" name="questions[0].type" placeholder="test">
                    <option value="" disabled selected hidden>Select the type</option>
                    <option value="Checkbox">Checkbox</option>
                    <option value="Question">Question</option>
                    <option value="Code">Code</option>
                </select>
            </div>
            <div class="col-xs-1">
                <label class="checkbox-inline big-checkbox"><input type="checkbox" name="questions[0].extra">Extra</label>
            </div>
            <div class="col-xs-1 col-xs-offset-1">
                <button type="button" class="btn btn-default">+</button>
            </div>
        </div>

        <div class="form-group top-30">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>

    </form>
</div>