<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Exercises
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3" ng-repeat="exercise in exercises" ng-click="select($index)">
        <div class="tile blue">
            <div class="title">
                <h3>{{exercise.title}}</h3>
            </div>
 
        </div>
    </div>
</div>
<div class="row" ng-show="selected">
    <form id="exerciseForm" class="col-lg-12" ng-submit="processForm()">
        <div ng-repeat="answer in answers">
            <div ng-if="answer.extra == true"><span style="color:red; font-weight:bolder">EXTRA: </span>{{answer.questiontitle}} - Points: {{answer.weight}}</div>
            <div ng-if="answer.extra == false">{{answer.questiontitle}} - Points: {{answer.weight}}</div>

            <div ng-switch on="answer.type">
                <div ng-switch-when="Checkbox"><input ng-model="answer.text" type="checkbox"></div>
                <div ng-switch-when="Code">
                    <div ng-model="answer.text" ui-ace="{
  useWrapMode : false,
  theme:'sqlserver',
  mode: 'csharp',
  firstLineNumber: 1,
}"></div>
                </div>
                <div ng-switch-when="Question"><input type="text" ng-model="answer.text" class="answer" /></div>
            </div>
        </div>

        <div class="form-group top-30">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>


        <div>
            <h1>Selected</h1>
            {{selected}}
            <h1>Answer</h1>
            {{answer}}

            <h1>User</h1>
            {{userData}}
        </div>
    </form>
</div>