<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Exercises
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12" role="alert">
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-edit"></i> Exercices
            </li>
        </ol>
        <div class="alert alert-danger fade in" ng-show="error != null">
            <a href="" class="close" data-dismiss="alert">&times;</a>
            <strong>Error!</strong> <span style="margin-left: 50px">{{error}}</span>
        </div>
        <div class="alert alert-success fade in" ng-show="message != null">
            <a href="" class="close" data-dismiss="alert">&times;</a>
            <strong>Success!</strong> <span style="margin-left: 50px">{{message}}</span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3" ng-repeat="exercise in exercises" ng-click="select($index)">
        <div class="tile" ng-class="exercise.solved == true ? 'green' : (exercise.extra == true ? 'purple' : 'blue')">
            <div class="title">
                <h3>{{exercise.title}}</h3>
            </div>
            Deadline: <time am-time-ago="exercise.deadline"></time>
        </div>
    </div>
</div>

<div class="row" ng-show="selected">
    <form id="exerciseForm" class="col-lg-12" ng-submit="processForm()">
        <div ng-repeat="answer in answers">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title" ng-if="answer.extra == true">
                            <a data-toggle="collapse" href="/#collapse{{$index}}"><span style="color:red; font-weight:bolder">EXTRA: </span>{{answer.questiontitle}}  <span class="pull-right">Points: {{answer.weight}}</span></a>
                        </h4>

                        <h4 class="panel-title" ng-if="answer.extra == false">
                            <a data-toggle="collapse" href="/#collapse{{$index}}">{{answer.questiontitle}} <span class="pull-right"> Points: {{answer.weight}} </span></a>
                        </h4>
                    </div>

                    <div id="collapse{{$index}}" class="panel-collapse collapse">
                        <div class="panel-body" ng-switch on="answer.type">
                            <div ng-switch-when="Checkbox">
                                Check / Uncheck <input ng-model="answer.result" type="checkbox" />
                            </div>

                            <div ng-switch-when="Code">
                                <div ng-model="answer.result" style="height: 200px" ui-ace="{
                                  useWrapMode : false,
                                  theme:'sqlserver',
                                  mode: 'csharp',
                                  firstLineNumber: 1,
                                }">
                                </div>
                            </div>

                            <div ng-switch-when="Question">
                                <input type="text" ng-model="answer.result" class="answer" />
                            </div>

                            <div ng-switch-when="MultipleChoice">
                                <div ng-repeat="choice in answer.choices" class="radio">
                                    <label><input type="radio" ng-model="answer.result" ng-value="choice.text" />{{choice.text}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="form-group top-30">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>


        <div>
            <h1>Answer</h1>
            {{answer}}
        </div>
    </form>
</div>